<div class="text-center">
    <div class="spinner-border" role="status" *ngIf="isFetchingData">
        <span class="visually-hidden">Loading...</span>
    </div>
</div>
<div class="container" *ngIf="!isFetchingData">
    <div class="card">
        <div class="card-body">
            <div class="fw-bold"><i class="fas fa-hashtag"></i> {{ user.employeeNo }}</div>
            <h1>{{ user.firstName + ' ' + user.middleName + ' ' + user.lastName }}</h1>
            <div>Position: <strong>{{ user.position | titlecase }}</strong></div>
            <div>Department: <strong>{{ user.department }}</strong></div>
            <div>Email Address: <strong>{{ user.email }}</strong></div>
            <div>Contact Number: <strong>{{ user.contactNumber }}</strong></div>
        </div>
    </div>
</div>