<div class="container-fluid"><br>
    <h3><i class="far fa-calendar-alt me-2"></i>Academic </h3>
    <hr>
    <div class="row">
        <div class="col">
            <form (ngSubmit)="createNewAcademic(f)" #f="ngForm">
                <div class="mb-3">
                    <label for="academicYear" class="form-label">Academic Year</label>
                    <input type="text" class="form-control" id="academicYear" name="academicYear"
                        placeholder="20xx-20xx" ngModel required>
                </div>
                <div class="mb-3">
                    <label for="semester" class="form-label">Semester</label>
                    <select class="form-select" name="semester" ngModel required>
                        <option selected disabled>-- Semester --</option>
                        <option value="1st Semester">1st Semester</option>
                        <option value="2nd Semester">2nd Semester</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="startDate">Start Date</label>
                    <input type="date" class="form-control" name="startDate" ngModel required>
                </div>
                <div class="mb-3">
                    <label for="endDate">End Date</label>
                    <input type="date" class="form-control" name="endDate" ngModel required>
                </div>
                <div class="d-grid gap-2">

                    <button class="btn btn-primary" type="submit" [disabled]="isSaving || !f.valid">
                        <span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"
                            *ngIf="isSaving"></span> Save</button>
                </div>
            </form>
        </div>
        <div class="col-8">
            <h5>List of Academic</h5>
            <table class="table table-striped">
                <caption *ngIf="(academic.length === 0) && !isFetching">-- No Academic to show --</caption>

                <thead class="table-light">
                    <tr>
                        <th>Academic Year</th>
                        <th>Semester</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>No. of Weeks</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of academic">
                        <td>{{ a.academicYear }}</td>
                        <td>{{ a.semester }}</td>
                        <td>{{ a.startDate | date: "mediumDate"}}</td>
                        <td>{{ a.endDate | date: "mediumDate"}}</td>
                        <td>{{ a.noOfWeeks }}</td>
                    </tr>
                </tbody>
            </table>
            <div class="spinner-border" role="status" *ngIf="isFetching">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
</div>