<div class="container-fluid"><br>
    <h3><i class="far fa-calendar-alt me-2"></i>Academic </h3>
    <hr>
    <div class="row">
        <div class="col">
            <form (ngSubmit)="createNewAcademic(f)" #f="ngForm">
                <div class="mb-3">
                    <label for="academicYear" class="form-label">Academic Year</label>
                    <input type="text" class="form-control" id="academicYear" name="academicYear"
                        placeholder="2022-2023" ngModel required>
                </div>
                <div class="mb-3">
                    <label for="semester" class="form-label">Semester</label>
                    <select class="form-select" ngModel required>
                        <option selected disabled>-- Semester --</option>
                        <option value="1st Semester">1st Semester</option>
                        <option value="2nd Semester">2nd Semester</option>
                      </select>
                </div>
                <div class="mb-3">
                    <label for="startDate">Start Date</label>
                    <input type="date" class="form-control" name="startDate" ngModel required>
                </div>
                <div class="mb-3">
                    <label for="endDate">End Date</label>
                    <input type="date" class="form-control" name="endDate" ngModel required>
                </div>
                <div class="d-grid gap-2">
                    <button class="btn btn-primary" type="button">Save</button>
                  </div>
            </form>
        </div>
        <div class="col-8">
            <h5>List of Academic</h5>
            <table class="table table-striped">
                <caption *ngIf="(academic.length === 0) && !isFetching">-- No Academic to show --</caption>

                <thead class="table-light">
                    <tr>
                        <th>Academic Year</th>
                        <th>Semester</th>
                        <th>No. of Weeks</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let a of academic">
                        <th>{{ a.academicYear }}</th>
                        <th>{{ a.semester }}</th>
                        <th>{{ a.semester }}</th>
                        <th>{{ a.startDate }}</th>
                        <th>{{ a.endDate }}</th>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>