<div class="container-fluid m-0 p-0">
    <div class="position-fixed d-print-none">
        <main>
            <div class="d-flex flex-column flex-nowrap p-3 text-white bg-dark">
                <a routerLink="/"
                    class="d-none d-lg-inline d-flex my-3 mb-md-0 me-auto align-items-center text-white text-decoration-none">
                    <i class="fs-4 fad fa-coins bi me-2"></i>
                    <span class="">WFAR Management System</span>
                </a>
                <div class="text-uppercase fw-bold fs-6 ms-1 d-none d-lg-inline mt-3 text-primary">Administrator
                </div>
                <hr>
                <ul class="nav nav-pills flex-column mb-auto">
                    <li>
                        <a routerLink="dashboard" class="nav-link text-white" routerLinkActive="active"> 
                            <i class="fad fa-analytics bi me-2"></i>
                            <span class="d-none d-lg-inline">Dashboard</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="faculty" class="nav-link text-white" routerLinkActive="active">
                            <i class="far fa-user-alt bi me-2"></i>
                            <span class="d-none d-lg-inline">Faculty</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="department-head" class="nav-link text-white" routerLinkActive="active">
                            <i class="fas fa-user-alt bi me-2"></i>
                            <span class="d-none d-lg-inline">Department Head</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="report" class="nav-link text-white" routerLinkActive="active">
                            <i class="fal fa-paperclip bi me-2"></i>
                            <span class="d-none d-lg-inline">Report</span>
                        </a>
                    </li>
                    <li>
                        <a routerLink="academic" class="nav-link text-white" routerLinkActive="active">
                            <i class="fad fa-calendar-alt bi me-2"></i>
                            <span class="d-none d-lg-inline">Academic</span>
                        </a>
                    </li>
                </ul>
                <hr>
                <div class="dropdown">
                    <a href="#" class="d-flex align-items-center text-white text-decoration-none dropdown-toggle"
                        id="dropdownUser1" data-bs-toggle="dropdown" aria-expanded="false">
                        <img src="https://github.com/mdo.png" alt="" width="32" height="32" class="rounded-circle me-2">
                        <strong class="d-none d-lg-inline">Juan Dela Cruz</strong>
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark text-small shadow" aria-labelledby="dropdownUser1">
                        <li><a class="dropdown-item" routerLink="/setting">Settings</a></li>
                        <li><a class="dropdown-item" routerLink="/profile">Profile</a></li>
                        <li>
                            <hr class="dropdown-divider">
                        </li>
                        <li><a class="dropdown-item" routerLink="/">Sign out</a></li>
                    </ul>
                </div>
            </div>

            <div class="b-example-divider"></div>
        </main>
    </div>
    <div class="content">
        <router-outlet></router-outlet>
    </div>
</div>