<div class="container-fluid"><br>
    <h3><i class="far fa-user-alt me-2"></i>Faculty</h3>
    <hr>
    <div class="row g-2">
        <div class="col-4 d-print-none">
            <h5>List of Faculties</h5>
            <!-- <form class="mb-2"> 
                <input type="text" class="form-control" name="search" id="search" placeholder="Search Faculty Name..."
                    ngModel>
            </form> -->
            <div class="list-group">
                <a class="list-group-item list-group-item-action d-block d-lg-flex justify-content-lg-between"
                [ngClass]="{'list-group-item-info': faculty.status === 'for approval', 'list-group-item-warning': faculty.handleById === ''}"
                 [routerLink]="faculty.employeeNo"
                 routerLinkActive="active"
                 *ngFor="let faculty of users">
                    <div class="">
                        <div class="fw-bold fs-5">{{ (faculty.firstName + ' ' + faculty.lastName) | titlecase }}
                        </div>
                        <div>{{ faculty.email }}</div>
                    </div>
                    <small><i class="far fa-hashtag"></i> {{ faculty.employeeNo }}</small>
                </a>

            </div>
            <div class="spinner-border" role="status" *ngIf="isFetchingForApprovalFaculty">
                <span class="visually-hidden">Loading...</span>
            </div>
            <div class="text-secondary" *ngIf="(users.length === 0) && !isFetchingForApprovalFaculty">-- No Result --</div>
            
        </div>
        <div class="col">
            <button class="btn btn-secondary mb-3 d-print-none px-3" onclick="window.print()">Print</button>
            <router-outlet [id]="id"></router-outlet>
        </div>
    </div>
</div>