<nav class="navbar navbar-expand-md navbar-dark bg-dark mb-4 sticky-top" aria-label="Fourth navbar example">
  <div class="container me-auto">
    <a class="navbar-brand" href="#">
      <h4 class="fad fa-coins bi ms-2"></h4>
      WFAR Management System
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample04"
      aria-controls="navbarsExample04" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExample04">
      <ul class="navbar-nav mb-2 mb-md-0 ms-auto">
        <li class="nav-item">
          <button class="nav-link position-relative btn btn-link" [routerLink]="['/user',id]">Profile</button>
        </li>
        <li class="nav-item">
          <button class="nav-link position-relative btn btn-link" [routerLink]="['/user/upload',id]">Upload</button>
        </li>
        <li class="nav-item">
          <button class="nav-link position-relative btn btn-link" aria-current="page" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Log out</button>
        </li>
      </ul>
    </div>
  </div>
</nav>


<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Log Out</h5>
      </div>
      <div class="modal-body">
        Are you sure you want to log out?
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <a type="button" class="btn btn-primary" href="login">Logout</a>
      </div>
    </div>
  </div>
</div>